.carousel-cell {
  height: 80px !important;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: rgb(218 218 218 / 30%);

  &.active {
    background-color: rgb(75 154 246 / 30%);
  }

  p {
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 11px;
    line-height: 1.4;
    &.orderName {
      font-weight: bold;
      font-size: 12px;
    }
  }
}

mat-card-content.mat-card-content.carousel {
  width: calc(100% - 70px);
  left: 0;
  right: 0;
  margin: 0 auto;
}

label.statusTag {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  padding: 0px 10px;
  color: white;
  line-height: 1.7;

  &.sent {
    background: #d0ad00;
  }

  &.arrived {
    background: #00961a;
  }

  &.pending {
    background: #ae0000;
  }
}

::ng-deep mat-stepper .mat-step:nth-child(2),
::ng-deep mat-stepper .mat-step:nth-child(3) {
  pointer-events: none;
}

::ng-deep mat-stepper.sent .mat-step:nth-child(2) {
  pointer-events: auto;
}

::ng-deep mat-stepper.arrived .mat-step:nth-child(3) {
  pointer-events: auto;
}

::ng-deep mat-stepper .mat-step:nth-child(3) .mat-step-header .mat-step-icon {
  background-color: #cecece;
}

::ng-deepmat-stepper .mat-step:nth-child(2) .mat-step-header .mat-step-icon {
  background-color: #cecece;
}

::ng-deep mat-stepper.arrived .mat-step:nth-child(3) .mat-step-header .mat-step-icon {
  background-color: #3f51b5;
}

::ng-deep mat-stepper.sent .mat-step:nth-child(2) .mat-step-header .mat-step-icon {
  background-color: #3f51b5;
}

.outer-wrapper {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  .map-wrapper {
    height: calc(100vh - 73px);
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border-radius: 4px;
    agm-map {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.noPaddingBottom {
  padding-bottom: 0 !important
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
}
::ng-deep span.mat-option-text img {
  width: 25px;
  margin: 0px 8px 3px;
}
