<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
      <div class="container-fluid noPadding">
        <div class="row">
          <div class=" col-md-12 col-sm-12 col-xs-12">
            <mat-card class="example-card">
              <mat-card-title>{{'MyOrders' | translate}}</mat-card-title>
              <mat-card-subtitle>{{'OrdersListDescription' | translate}}</mat-card-subtitle>
              <mat-card-content class="carousel">
                <carousel *ngIf="myOrders && myOrders.length > 0" height="80" arrowsOutside="true">
                  <div class="carousel-cell" *ngFor="let order of myOrders; let index = index "
                    (click)="orderClicked(order,index)" [class.active]="selectedOrder.id == order.id">
                    <label class="statusTag" [class.arrived]="order.isArrived"
                      [class.sent]="order.isSent && !order.isArrived" [class.pending]="!order.isSent">
                      <span *ngIf="order.isArrived">{{'STATUS.ARRIVED' | translate}}</span>
                      <span *ngIf="order.isSent && !order.isArrived">{{'STATUS.SENT' | translate}}</span>
                      <span *ngIf="!order.isSent">{{'STATUS.PENDING' | translate}}</span>
                    </label>
                    <p class="orderName">{{order.name}}</p>
                    <p class="orderPrice">{{'Price' | translate}}: {{order.price}}<span>$</span></p>
                    <p class="orderDate">{{'OrderedDate' | translate}}: {{order.orderedDate}}</p>
                    <p class="orderDestination">{{'Destination' | translate}}: {{order.destination}}</p>
                  </div>
                </carousel>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <mat-card class="example-card noPaddingBottom" *ngIf="selectedOrder">
              <mat-card-title>{{'EditPackageDetails' | translate}}</mat-card-title>
              <mat-card-content>
                <div class="container-fluid noPadding">
                  <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <mat-form-field appearance="fill">
                        <mat-label>{{'ChangeCourierVehicle' | translate}}</mat-label>
                        <mat-select name="travelMode" [(ngModel)]="travelMode"
                          (selectionChange)="vehicleTypeChange($event)">
                          <mat-option *ngFor="let item of travelModes" [value]="item.value">
                            <img [src]="item.img" />{{item.label}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                      <mat-form-field appearance="fill">
                        <mat-label>{{'ChangeDestination' | translate}}</mat-label>
                        <input name="place" matInput ngx-google-places-autocomplete #placesRef="ngx-places"
                          (onAddressChange)="handleAddressChange($event)" [(ngModel)]="autoCompleteAddress" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12">
            <mat-card class="example-card" *ngIf="selectedOrder">
              <mat-card-title>{{'CurrentStatus' | translate}} {{'For' | translate}} {{selectedOrder.name}}
                ({{'TrackingNumber' | translate}}: {{selectedOrder.id}})</mat-card-title>
              <mat-card-content *ngIf="selectedOrder">
                <div class="timeline-box">
                  <mat-stepper orientation="vertical" [selectedIndex]="OpenedStepperIndex"
                    [class.sent]="selectedOrder.isSent" [class.arrived]="selectedOrder.isArrived">
                    <mat-step>
                      <ng-template matStepLabel>{{'AtWarehouse' | translate}}</ng-template>
                      <ng-template matStepContent>
                        <p>{{'AtWarehouseMessage1'|translate}} {{selectedOrder.name}}
                          {{'AtWarehouseMessage2'|translate}} {{selectedOrder.orderedDate}}
                          {{'AtWarehouseMessage3'|translate}} {{selectedOrder.source}}
                          {{'AtWarehouseMessage4'|translate}} {{selectedOrder.destination}}.</p>
                      </ng-template>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>{{'SentFromStore' | translate}}</ng-template>
                      <ng-template matStepContent>
                        <p>{{'SentMessage1'|translate}} {{selectedOrder.sentFromStore.startDate}}</p>
                        <p *ngIf="!selectedOrder.isArrived && countdownConfig">
                          <span>{{'RemainingTime'|translate}}: </span>
                          <countdown [config]="countdownConfig"></countdown>
                        </p>
                      </ng-template>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>{{'PackageArrived' | translate}}</ng-template>
                      <p>{{'ArrivedMessage1'|translate}} {{selectedOrder.arrivalDate}}</p>
                    </mat-step>
                  </mat-stepper>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
      <div class="container-fluid noPadding">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="outer-wrapper">
              <div class="map-wrapper" id="wrapper" #wrapper>
                <agm-map id="AgmMap" #AgmMap [zoom]="zoom" fitBounds="true" (mapClick)="mapClicked($event)"
                  (mapReady)="onMapReady($event)">
                  <agm-direction [renderOptions]="renderOptions" [markerOptions]="markerOptions" [origin]="origin"
                    [destination]="destination" [travelMode]="travelMode" (onChange)="onMarkerChange($event);"
                    (destinationDrag)="markerDragEnd($event)"></agm-direction>
                </agm-map>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
