.headerbox {
  background: #264977;
  height: 40px;
  margin-bottom: 20px;

  button {
    height: 100%;
    width: 40px;
    border: 0;
    background-color: rgb(64 98 143);

    mat-icon {
      color: white;
      font-size: 30px;
      width: 100%;
      height: 100%;
      line-height: 1.3;
    }
  }
}

.mat-drawer-content {
  min-height: 100vh;
}

mat-sidenav.mat-drawer {
  background-color: rgb(165 186 255 / 10%);
}

label.navItem {
  display: block;
  padding: 8px 20px;
  background-color: rgb(38 73 119 / 32%);
  color: white;
  margin-bottom: 2px;
  cursor: pointer;

  &:hover {
    background-color: #cdd3db;
  }

  &.active {
    background-color: rgb(123 150 238 / 80%);
    ;
  }
}

label.headerTitle {
  color: white;
  font-size: 18px;
  height: 100%;
  vertical-align: middle;
  margin: 0 16px;
}

.changeLangHolder {
  display: inline-block;
  float: right;
  width: 100px;

  ::ng-deep mat-form-field {
    width: 100%;

    .mat-form-field-wrapper {
      padding-bottom: 0;
      background: #40628f;
      height: 40px;

      .mat-select-value-text {
        color: white;
      }

      .mat-form-field-label mat-label {
        color: white;
      }

      .mat-select-arrow {
        color: white;
      }

      .mat-form-field-underline {
        display: none;
      }

      .mat-form-field-flex {
        height: 100%;
        padding-top: 5px !important;
      }

      &.mat-focused.mat-primary {
        .mat-select-arrow {
          color: white !important;
        }
      }
    }
  }
}
