<div class="header">
  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav mode="side" [(opened)]="opened">
      <label class="navItem">{{'homePage'|translate}}</label>
      <label class="navItem">{{'OrdersList'|translate}}</label>
      <label class="navItem active">{{'TrackingPage'|translate}}</label>
      <label class="navItem">{{'contactUS'|translate}}</label>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="headerbox">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <label class="headerTitle">{{'TrackingPage'|translate}}</label>
        <div class="changeLangHolder">
          <mat-form-field appearance="fill">
            <mat-label>{{'Language' | translate}}</mat-label>
            <mat-select name="language" [(ngModel)]="language" (selectionChange)="changeLanguage($event)">
              <mat-option *ngFor="let item of languages" [value]="item.value">
                <img [src]="item.img" />{{item.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
