/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~ngx-toastr/toastr';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #fafafa;
}

.noPadding {
  padding: 0;
}

app-timeline mat-card {
  margin-bottom: 18px;
  padding: 12px 16px !important;

  mat-card-subtitle {
    font-size: 11px !important;
    margin-top: -7px !important;
    margin-bottom: 5px !important;
  }

  .mat-card-title {
    font-size: 16px !important;
    margin-bottom: 4px !important
  }
}

.carousel-arrows-outside .carousel-arrow-prev {
  left: -40px !important;
}

.carousel-arrows-outside .carousel-arrow-next {
  right: -40px !important;
}

.carousel-arrow {
  width: 30px !important;
  height: 30px !important;
}
